body {
  margin: 0;
  line-height: normal;
}
.rectangle-div70 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-gray-200);
  width: 276px;
  height: 1024px;
}
.bilist-ul-icon7 {
  position: absolute;
  top: 234px;
  left: 12px;
  width: 36px;
  height: 33px;
  overflow: hidden;
}
.ant-designdashboard-filled-icon7,
.carbonlogout-icon7 {
  position: absolute;
  top: 171px;
  left: 14px;
  width: 32px;
  height: 32px;
  overflow: hidden;
}
.carbonlogout-icon7 {
  top: 938px;
  left: 48px;
  width: 35px;
  height: 35px;
}
.dashboard-div8 {
  top: 176px;
  left: 53px;
  font-size: var(--font-size-xs);
  color: var(--color-white);
}
.create-user-div9,
.dashboard-div8,
.fund-user-div9 {
  position: absolute;
  font-weight: 600;
  display: inline-block;
}
.fund-user-div9 {
  top: 239px;
  left: 53px;
  font-size: var(--font-size-xs);
  color: var(--color-gray-1000);
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.create-user-div9 {
  top: 5px;
  left: 39px;
}
.bxsuser-icon30 {
  position: absolute;
  top: 0;
  left: 0;
  width: 32px;
  height: 32px;
  overflow: hidden;
}
.group-div30 {
  position: absolute;
  top: 298px;
  left: 14px;
  width: 149px;
  height: 32px;
  font-size: var(--font-size-xs);
  color: var(--color-gray-1000);
}
.reports-div15 {
  position: absolute;
  top: 4px;
  left: 39px;
  font-weight: 600;
  display: inline-block;
}
.data-management-b7,
.group-div31,
.logout-b7 {
  position: absolute;
  color: var(--color-gray-1000);
}
.group-div31 {
  top: 431px;
  left: 18px;
  width: 112px;
  height: 32px;
  font-size: var(--font-size-xs);
}
.data-management-b7,
.logout-b7 {
  top: 941px;
  left: 97px;
  font-size: var(--font-size-base);
  display: inline-block;
}
.data-management-b7 {
  top: 44px;
  left: 26px;
  color: var(--color-white);
}
.rectangle-div71 {
  position: absolute;
  top: 0;
  left: 276px;
  background-color: var(--color-white);
  width: 1164px;
  height: 116px;
}
.ken-span6 {
  color: var(--color-black);
}
.hi-ken-div6 {
  position: absolute;
  top: 22px;
  left: 1320px;
  font-size: var(--font-size-5xs);
  font-weight: 600;
  display: inline-block;
  color: var(--color-gray-900);
}
.bxsearch-alt-icon7 {
  position: absolute;
  top: 20px;
  left: 1274px;
  width: 20px;
  height: 20px;
  overflow: hidden;
}
.dashboard-div9 {
  position: absolute;
  top: 13px;
  left: 339px;
  font-weight: 600;
  display: inline-block;
}
.rectangle-div72 {
  position: absolute;
  top: 122px;
  left: 276px;
  background: linear-gradient(
    180deg,
    rgba(223, 243, 225, 0.35),
    rgba(223, 243, 225, 0)
  );
  width: 1164px;
  height: 908px;
}
.home-dashboard1 {
  position: absolute;
  top: 78px;
  left: 339px;
  font-size: var(--font-size-2xs);
  font-weight: 600;
  display: inline-block;
}
.line-div36 {
  position: absolute;
  top: 57.5px;
  left: 295.5px;
  border-top: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 1121px;
  height: 1px;
}
.rectangle-div73 {
  position: absolute;
  top: 17px;
  left: 1388px;
  background-color: var(--color-green-300);
  width: 24px;
  height: 25px;
}
.k-div7,
.overview-div {
  position: absolute;
  font-weight: 600;
  display: inline-block;
}
.k-div7 {
  top: 20px;
  left: 1394px;
  font-size: var(--font-size-2xs);
  color: var(--color-green-100);
}
.overview-div {
  top: 159px;
  left: 339px;
  font-size: var(--font-size-sm);
}
.rectangle-div74,
.rectangle-div75,
.rectangle-div76 {
  position: absolute;
  top: 208px;
  border-radius: var(--br-xs);
  width: 225px;
  height: 113px;
}
.rectangle-div74 {
  left: 337px;
  background-color: #7203ff;
}
.rectangle-div75,
.rectangle-div76 {
  left: 338px;
  background-color: var(--color-gray-200);
}
.rectangle-div76 {
  left: 600px;
  background-color: var(--color-green-200);
}
.iconoirfavourite-book7 {
  position: absolute;
  top: 264px;
  left: 649px;
  width: 24px;
  height: 24px;
  overflow: hidden;
}
.rectangle-div77,
.rectangle-div78 {
  position: absolute;
  top: 208px;
  left: 862px;
  border-radius: var(--br-xs);
  background-color: var(--color-green-200);
  width: 225px;
  height: 113px;
}
.rectangle-div78 {
  left: 1125px;
}
.akar-iconsarrow-down28 {
  position: absolute;
  top: 289px;
  left: 517px;
  width: 20px;
  height: 20px;
  overflow: hidden;
}
.akar-iconsarrow-down29,
.akar-iconsarrow-down30,
.akar-iconsarrow-down31 {
  position: absolute;
  top: 289px;
  left: 779px;
  width: 20px;
  height: 20px;
  overflow: hidden;
}
.akar-iconsarrow-down30,
.akar-iconsarrow-down31 {
  left: 1041px;
}
.akar-iconsarrow-down31 {
  left: 1303px;
}
.total-users-div7 {
  position: absolute;
  left: 353px;
  font-weight: 600;
  color: var(--color-white);
  display: inline-block;
}
.active-users-div8,
.reports-div16,
.total-users-div7 {
  top: 220px;
  font-size: var(--font-size-3xs);
}
.active-users-div8 {
  position: absolute;
  left: 615px;
  font-weight: 600;
  color: var(--color-white);
  display: inline-block;
}
.reports-div16 {
  left: 1148px;
}
.div144,
.div145,
.div146,
.div147,
.new-users-div7,
.reports-div16 {
  position: absolute;
  font-weight: 600;
  color: var(--color-white);
  display: inline-block;
}
.new-users-div7 {
  top: 220px;
  left: 882px;
  font-size: var(--font-size-3xs);
}
.div144,
.div145,
.div146,
.div147 {
  top: 245px;
  left: 488px;
}
.div145,
.div146,
.div147 {
  left: 750px;
}
.div146,
.div147 {
  left: 1028px;
}
.div147 {
  left: 1274px;
}
.bxsuser-icon31,
.ellipse-icon53,
.ellipse-icon54,
.ellipse-icon55 {
  position: absolute;
  top: 251px;
  left: 373px;
  width: 53px;
  height: 51px;
}
.bxsuser-icon31,
.ellipse-icon54,
.ellipse-icon55 {
  left: 635px;
}
.bxsuser-icon31,
.ellipse-icon55 {
  top: 248px;
  left: 1154px;
}
.bxsuser-icon31 {
  top: 264px;
  left: 387px;
  width: 24px;
  height: 24px;
  overflow: hidden;
}
.rectangle-div79 {
  position: absolute;
  top: 365px;
  left: 337px;
  background-color: var(--color-white);
  box-shadow: 4px 4px 6px 1px rgba(0, 0, 0, 0.1);
  width: 525px;
  height: 332px;
}
.dashiconsarrow-down-alt2 {
  position: absolute;
  top: 390px;
  left: 817px;
  width: 20px;
  height: 20px;
  overflow: hidden;
}
.this-month-div {
  position: absolute;
  top: 386px;
  left: 701px;
  font-size: var(--font-size-sm);
  font-weight: 600;
  color: rgba(0, 0, 0, 0.6);
  display: inline-block;
}
.div148,
.div149,
.div150,
.div151,
.div152 {
  position: absolute;
  top: 655px;
  left: 382px;
  font-size: var(--font-size-6xs);
  font-weight: 600;
  display: inline-block;
}
.div149,
.div150,
.div151,
.div152 {
  left: 458px;
  text-align: center;
}
.div150,
.div151,
.div152 {
  left: 533px;
}
.div151,
.div152 {
  left: 608px;
}
.div152 {
  left: 682px;
}
.div153,
.div154,
.div155,
.div156,
.div157,
.user-status-div {
  position: absolute;
  top: 422px;
  left: 384px;
  font-size: var(--font-size-4xs);
  font-weight: 600;
  display: inline-block;
}
.div154,
.div155,
.div156,
.div157,
.user-status-div {
  top: 458px;
  left: 463px;
}
.div155,
.div156,
.div157,
.user-status-div {
  top: 570px;
  left: 538px;
}
.div156,
.div157,
.user-status-div {
  top: 418px;
  left: 609px;
}
.div157,
.user-status-div {
  top: 483px;
  left: 688px;
}
.user-status-div {
  top: 389px;
  left: 367px;
  font-size: var(--font-size-sm);
}
.rectangle-div80 {
  position: absolute;
  top: 362px;
  left: 881px;
  background-color: var(--color-white);
  box-shadow: 4px 4px 6px 1px rgba(0, 0, 0, 0.1);
  width: 525px;
  height: 332px;
}
.inactive-div {
  top: 670px;
  left: 937px;
  font-size: var(--font-size-4xs);
  text-align: center;
  display: inline-block;
}
.active-div,
.inactive-div,
.users-div {
  position: absolute;
  font-weight: 600;
}
.active-div {
  top: 628px;
  left: 911px;
  font-size: var(--font-size-4xs);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 96px;
  height: 49px;
}
.users-div {
  top: 394px;
  left: 939px;
  font-size: var(--font-size-sm);
  display: inline-block;
}
.rectangle-div81 {
  position: absolute;
  top: 447px;
  left: 383px;
  background-color: var(--color-gray-200);
  width: 28px;
  height: 194px;
}
.rectangle-div82,
.rectangle-div83 {
  position: absolute;
  top: 485px;
  left: 458px;
  background-color: var(--color-green-200);
  width: 28px;
  height: 156px;
}
.rectangle-div83 {
  top: 600px;
  left: 533px;
  background-color: var(--color-gray-200);
  height: 41px;
}
.rectangle-div84,
.rectangle-div85 {
  position: absolute;
  top: 447px;
  left: 608px;
  background-color: var(--color-green-200);
  width: 28px;
  height: 194px;
}
.rectangle-div85 {
  top: 510px;
  left: 683px;
  background-color: var(--color-gray-200);
  height: 131px;
}
.ellipse-icon56,
.ellipse-icon57 {
  position: absolute;
  top: 435px;
  left: 1035px;
  width: 232px;
  height: 219px;
}
.ellipse-icon57 {
  top: 402.76px;
  left: 1142.89px;
  width: 278px;
  height: 270px;
}
.div158,
.div159 {
  position: absolute;
  top: 502px;
  left: 1190px;
  font-weight: 600;
  color: var(--color-white);
  text-align: center;
  display: inline-block;
}
.div159 {
  top: 531px;
  left: 1074px;
}
.frame-div4 {
  position: absolute;
  top: 135px;
  left: 627px;
  width: 100px;
  height: 100px;
  overflow: hidden;
}
.group-div32 {
  position: absolute;
  top: 369px;
  left: 14px;
  width: 208px;
  height: 32px;
  font-size: var(--font-size-xs);
  color: var(--color-gray-1000);
}
.ellipse-icon58 {
  position: absolute;
  top: 249px;
  left: 898px;
  width: 53px;
  height: 51px;
}
.bxsuser-icon33,
.iconoirreports14 {
  position: absolute;
  top: 260px;
  left: 1166px;
  width: 24px;
  height: 24px;
  overflow: hidden;
}
.bxsuser-icon33 {
  top: 263px;
  left: 913px;
}
.rectangle-div86,
.rectangle-div87,
.view-div5 {
  position: absolute;
  top: 645px;
  left: 908px;
  background-color: var(--color-gray-200);
  width: 14px;
  height: 16px;
}
.rectangle-div87,
.view-div5 {
  top: 673px;
  background-color: var(--color-green-200);
}
.view-div5 {
  top: 790.5px;
  left: 300.5px;
  background-color: var(--color-gray-800);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 1116px;
  height: 181px;
  overflow: hidden;
}
.no-div4 {
  position: absolute;
  top: 37.24px;
  left: 13.47px;
  letter-spacing: 0.05em;
  display: inline-block;
  width: 52.35px;
  height: 40.95px;
}
.line-div37,
.line-icon22,
.line-icon23 {
  position: absolute;
  top: 253px;
  left: 3px;
  width: 1115px;
  height: 2.55px;
}
.line-div37,
.line-icon23 {
  top: 133.99px;
  width: 1117px;
  height: 2.2px;
}
.line-div37 {
  top: 73.88px;
  left: 2.5px;
  border-top: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 1109px;
  height: 1px;
}
.line-icon24,
.line-icon25 {
  position: absolute;
  top: 0;
  left: 62px;
  width: 5px;
  height: 254.02px;
}
.line-icon25 {
  top: 73.55px;
  left: 673px;
  width: 1.99px;
  height: 180.45px;
}
.line-icon26,
.line-icon27 {
  position: absolute;
  top: 73.99px;
  left: 891.5px;
  width: 3px;
  height: 180.01px;
}
.line-icon27 {
  top: 74px;
  left: 263px;
  width: 4px;
  height: 180.02px;
}
.balance-topup-div7 {
  position: absolute;
  top: 4px;
  left: 364px;
  letter-spacing: 0.05em;
  font-weight: 500;
  display: inline-block;
}
.div160 {
  top: 4px;
  left: 101px;
}
.div160,
.div161,
.div162,
.div163,
.div164 {
  position: absolute;
  letter-spacing: 0.05em;
  font-weight: 500;
  display: inline-block;
}
.div161 {
  top: 67px;
  left: 100px;
  width: 101.85px;
  height: 42.01px;
}
.div162,
.div163,
.div164 {
  top: 0;
  left: 940px;
}
.div163,
.div164 {
  top: 6px;
  left: 707px;
}
.div164 {
  top: 126px;
  left: 98px;
}
.div165 {
  top: 64px;
  left: 708px;
  font-weight: 500;
}
.div165,
.div166,
.div167,
.div168,
.div169 {
  position: absolute;
  letter-spacing: 0.05em;
  display: inline-block;
}
.div166 {
  top: 123px;
  left: 708px;
  font-weight: 500;
}
.div167,
.div168,
.div169 {
  top: 9.66px;
  left: 25.41px;
  color: var(--color-gray-200);
  width: 9.24px;
  height: 20.6px;
}
.div168,
.div169 {
  top: 131.87px;
  width: 12.32px;
}
.div169 {
  top: 67.21px;
  width: 11.55px;
}
.line-icon28 {
  position: absolute;
  top: 105px;
  left: 0;
  width: 1115px;
  height: 5.17px;
}
.balance-topup-div8,
.debit-afford-supermarket-div3,
.div170,
.div171 {
  position: absolute;
  top: 70px;
  left: 303px;
  letter-spacing: 0.05em;
  font-weight: 500;
  display: inline-block;
}
.balance-topup-div8,
.div170,
.div171 {
  top: 123px;
  left: 364px;
}
.div170,
.div171 {
  top: 66px;
  left: 949px;
}
.div171 {
  top: 122px;
  left: 940px;
}
.sub-report-div {
  position: absolute;
  top: 91px;
  left: 3px;
  width: 1115px;
  height: 155px;
  color: var(--color-black);
}
.rectangle-div88 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-gray-200);
  width: 1120px;
  height: 75px;
}
.date-b1,
.description-b1,
.no-div5,
.user-b1 {
  position: absolute;
  top: 25px;
  left: 16px;
  letter-spacing: 0.05em;
  display: inline-block;
}
.date-b1,
.description-b1,
.user-b1 {
  top: 23px;
  left: 128px;
}
.date-b1,
.description-b1 {
  left: 379px;
}
.date-b1 {
  left: 738px;
}
.report-page-div1,
.view-more-div {
  position: absolute;
  font-size: var(--font-size-base);
}
.report-page-div1 {
  top: 717px;
  left: 298px;
  width: 1120px;
  height: 255.55px;
  color: var(--color-white);
}
.view-more-div {
  top: 988px;
  left: 1285px;
  letter-spacing: 0.05em;
  font-weight: 600;
  color: var(--color-gray-200);
  display: inline-block;
}
.desktop-17,
.polygon-icon {
  position: absolute;
  top: 994.75px;
  left: 1257.81px;
  width: 23.38px;
  height: 20.25px;
}
.desktop-17 {
  top: 0;
  left: 0;
  background-color: var(--color-white);
  width: 1440px;
  height: 1024px;
  overflow: hidden;
}
.admin-page {
  text-decoration: none;
  position: relative;
  width: 100%;
  height: 1024px;
  text-align: left;
  font-size: var(--font-size-lg);
  color: var(--color-black);
  font-family: var(--font-inter);
}
