body {
  margin: 0;
  line-height: normal;
}
.rectangle-div16 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-gray-200);
  width: 276px;
  height: 1024px;
}
.bilist-ul-icon2 {
  position: absolute;
  top: 234px;
  left: 12px;
  width: 36px;
  height: 33px;
  overflow: hidden;
}
.ant-designdashboard-filled-icon2,
.carbonlogout-icon2 {
  position: absolute;
  top: 171px;
  left: 14px;
  width: 32px;
  height: 32px;
  overflow: hidden;
}
.carbonlogout-icon2 {
  top: 938px;
  left: 48px;
  width: 35px;
  height: 35px;
}
.dashboard-div2 {
  top: 176px;
  left: 53px;
  font-size: var(--font-size-xs);
  color: var(--color-gray-1000);
}
.create-user-div4,
.dashboard-div2,
.fund-user-div3 {
  position: absolute;
  font-weight: 600;
  display: inline-block;
}
.fund-user-div3 {
  top: 239px;
  left: 53px;
  font-size: var(--font-size-xs);
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.create-user-div4 {
  top: 5px;
  left: 39px;
}
.bxsuser-icon9,
.group-div6 {
  position: absolute;
  height: 32px;
}
.bxsuser-icon9 {
  top: 0;
  left: 0;
  width: 32px;
  overflow: hidden;
}
.group-div6 {
  top: 298px;
  left: 14px;
  width: 149px;
  font-size: var(--font-size-xs);
  color: var(--color-gray-1000);
}
.reports-div4 {
  position: absolute;
  top: 4px;
  left: 39px;
  font-weight: 600;
  display: inline-block;
}
.group-div7 {
  position: absolute;
  top: 431px;
  left: 18px;
  width: 112px;
  height: 32px;
  font-size: var(--font-size-xs);
  color: var(--color-gray-1000);
}
.data-management-b2,
.logout-b2 {
  position: absolute;
  font-size: var(--font-size-base);
  display: inline-block;
}
.logout-b2 {
  top: 941px;
  left: 97px;
  color: var(--color-gray-1000);
}
.data-management-b2 {
  top: 44px;
  left: 26px;
}
.rectangle-div17 {
  position: absolute;
  top: 0;
  left: 276px;
  background-color: var(--color-white);
  width: 1164px;
  height: 116px;
}
.ken-span2 {
  color: var(--color-black);
}
.hi-ken-div2 {
  position: absolute;
  top: 22px;
  left: 1320px;
  font-size: var(--font-size-5xs);
  font-weight: 600;
  display: inline-block;
  color: var(--color-gray-900);
}
.bxsearch-alt-icon2 {
  position: absolute;
  top: 20px;
  left: 1274px;
  width: 20px;
  height: 20px;
  overflow: hidden;
}
.fund-user-div4,
.home-fund-user1 {
  position: absolute;
  top: 13px;
  left: 339px;
  font-weight: 600;
  color: var(--color-black);
  display: inline-block;
}
.home-fund-user1 {
  top: 78px;
  font-size: var(--font-size-2xs);
}
.line-div2 {
  position: absolute;
  top: 57.5px;
  left: 295.5px;
  border-top: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 1121px;
  height: 1px;
}
.rectangle-div18 {
  position: absolute;
  top: 17px;
  left: 1388px;
  background-color: var(--color-green-300);
  width: 24px;
  height: 25px;
}
.k-div3 {
  position: absolute;
  top: 20px;
  left: 1394px;
  font-size: var(--font-size-2xs);
  font-weight: 600;
  color: var(--color-green-100);
  display: inline-block;
}
.akar-iconsarrow-down8,
.iconoirfavourite-book2 {
  position: absolute;
  top: 264px;
  left: 649px;
  width: 24px;
  height: 24px;
  overflow: hidden;
}
.akar-iconsarrow-down8 {
  top: 289px;
  left: 517px;
  width: 20px;
  height: 20px;
}
.akar-iconsarrow-down10,
.akar-iconsarrow-down11,
.akar-iconsarrow-down9 {
  position: absolute;
  top: 289px;
  left: 779px;
  width: 20px;
  height: 20px;
  overflow: hidden;
}
.akar-iconsarrow-down10,
.akar-iconsarrow-down11 {
  left: 1041px;
}
.akar-iconsarrow-down11 {
  left: 1303px;
}
.total-users-div2 {
  position: absolute;
  left: 353px;
  font-weight: 600;
  display: inline-block;
}
.active-users-div2,
.reports-div5,
.total-users-div2 {
  top: 220px;
  font-size: var(--font-size-3xs);
}
.active-users-div2 {
  position: absolute;
  left: 615px;
  font-weight: 600;
  display: inline-block;
}
.reports-div5 {
  left: 1148px;
}
.div11,
.div12,
.div13,
.new-users-div2,
.reports-div5 {
  position: absolute;
  font-weight: 600;
  display: inline-block;
}
.new-users-div2 {
  top: 220px;
  left: 882px;
  font-size: var(--font-size-3xs);
}
.div11,
.div12,
.div13 {
  top: 245px;
  left: 750px;
}
.div12,
.div13 {
  left: 1028px;
}
.div13 {
  left: 1274px;
}
.ellipse-icon7,
.ellipse-icon8,
.ellipse-icon9 {
  position: absolute;
  top: 251px;
  left: 373px;
  width: 53px;
  height: 51px;
}
.ellipse-icon8,
.ellipse-icon9 {
  left: 635px;
}
.ellipse-icon9 {
  top: 248px;
  left: 1154px;
}
.bxsuser-icon10,
.dashiconsarrow-down-alt2-div2 {
  position: absolute;
  top: 264px;
  left: 387px;
  width: 24px;
  height: 24px;
  overflow: hidden;
}
.dashiconsarrow-down-alt2-div2 {
  top: 390px;
  left: 817px;
  width: 20px;
  height: 20px;
}
.div14,
.div15 {
  position: absolute;
  top: 502px;
  left: 1190px;
  font-weight: 600;
  text-align: center;
  display: inline-block;
}
.div15 {
  top: 589px;
  left: 1023px;
}
.group-div8 {
  position: absolute;
  top: 369px;
  left: 14px;
  width: 208px;
  height: 32px;
  font-size: var(--font-size-xs);
  color: var(--color-gray-1000);
}
.ellipse-icon10 {
  position: absolute;
  top: 249px;
  left: 898px;
  width: 53px;
  height: 51px;
}
.bxsuser-icon12,
.iconoirreports4 {
  position: absolute;
  top: 260px;
  left: 1166px;
  width: 24px;
  height: 24px;
  overflow: hidden;
}
.bxsuser-icon12 {
  top: 263px;
  left: 913px;
}
.rectangle-div19 {
  position: absolute;
  top: 118px;
  left: 276px;
  background: linear-gradient(
    180deg,
    rgba(223, 243, 225, 0.35),
    rgba(223, 243, 225, 0)
  );
  width: 1164px;
  height: 908px;
}
.rectangle-div20 {
  position: absolute;
  top: 175px;
  left: 332px;
  border-radius: var(--br-sm);
  background-color: var(--color-white);
  border: 1px solid var(--color-gray-1100);
  box-sizing: border-box;
  width: 1027px;
  height: 392px;
}
.rectangle-icon1 {
  position: absolute;
  top: 222px;
  left: 376px;
  border-radius: var(--br-lg);
  width: 947px;
  height: 71px;
}
.amount-div {
  position: absolute;
  top: 23px;
  left: 86px;
  font-weight: 800;
  display: inline-block;
}
.rectangle-div21 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-lg);
  background-color: var(--color-gray-1200);
  width: 947px;
  height: 71px;
}
.mdinaira-icon {
  position: absolute;
  top: 19px;
  left: 32px;
  width: 32px;
  height: 32px;
}
.amountfund-div1,
.user-id-div {
  position: absolute;
  font-size: var(--font-size-sm);
  color: var(--color-gray-1300);
}
.amountfund-div1 {
  top: 328px;
  left: 376px;
  width: 947px;
  height: 71px;
}
.user-id-div {
  top: 246px;
  left: 462px;
  font-weight: 800;
  display: inline-block;
}
.bxsuser-icon13 {
  position: absolute;
  top: 241px;
  left: 404px;
  width: 32px;
  height: 32px;
  overflow: hidden;
}
.rectangle-div22 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-sm);
  background-color: var(--color-green-200);
  width: 199px;
  height: 71px;
}
.fund-div {
  position: absolute;
  top: 23px;
  left: 62px;
  font-weight: 900;
  display: inline-block;
}
.fund-button-div {
  position: absolute;
  top: 435px;
  left: 390px;
  width: 199px;
  height: 71px;
  font-size: var(--font-size-sm);
}
.desktop-12 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-white);
  width: 1440px;
  height: 1024px;
  overflow: hidden;
}
.admin-page-div1 {
  position: relative;
  width: 100%;
  height: 1024px;
  text-align: left;
  font-size: var(--font-size-lg);
  color: var(--color-white);
  font-family: var(--font-inter);
}
