body {
  margin: 0;
  line-height: normal;
}
.rectangle-div23 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-gray-200);
  width: 276px;
  height: 1024px;
}
.bilist-ul-icon3 {
  position: absolute;
  top: 234px;
  left: 12px;
  width: 36px;
  height: 33px;
  overflow: hidden;
}
.ant-designdashboard-filled-icon3,
.carbonlogout-icon3 {
  position: absolute;
  top: 171px;
  left: 14px;
  width: 32px;
  height: 32px;
  overflow: hidden;
}
.carbonlogout-icon3 {
  top: 938px;
  left: 48px;
  width: 35px;
  height: 35px;
}
.dashboard-div3 {
  top: 176px;
  left: 53px;
  font-size: var(--font-size-xs);
  color: var(--color-gray-1000);
}
.create-user-div5,
.dashboard-div3,
.fund-user-div5 {
  position: absolute;
  font-weight: 600;
  display: inline-block;
}
.fund-user-div5 {
  top: 239px;
  left: 53px;
  font-size: var(--font-size-xs);
  color: var(--color-gray-1000);
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.create-user-div5 {
  top: 5px;
  left: 39px;
}
.bxsuser-icon14,
.group-div9 {
  position: absolute;
  height: 32px;
}
.bxsuser-icon14 {
  top: 0;
  left: 0;
  width: 32px;
  overflow: hidden;
}
.group-div9 {
  top: 298px;
  left: 14px;
  width: 149px;
  font-size: var(--font-size-xs);
  color: var(--color-gray-1000);
}
.reports-div6 {
  position: absolute;
  top: 4px;
  left: 39px;
  font-weight: 600;
  display: inline-block;
}
.group-div10 {
  position: absolute;
  top: 431px;
  left: 18px;
  width: 112px;
  height: 32px;
  font-size: var(--font-size-xs);
}
.data-management-b3,
.logout-b3 {
  position: absolute;
  font-size: var(--font-size-base);
  display: inline-block;
}
.logout-b3 {
  top: 941px;
  left: 97px;
  color: var(--color-gray-1000);
}
.data-management-b3 {
  top: 44px;
  left: 26px;
}
.rectangle-div24 {
  position: absolute;
  top: 0;
  left: 276px;
  background-color: var(--color-white);
  width: 1164px;
  height: 116px;
}
.ken-span3 {
  color: var(--color-black);
}
.hi-ken-div3 {
  position: absolute;
  top: 22px;
  left: 1320px;
  font-size: var(--font-size-5xs);
  font-weight: 600;
  display: inline-block;
  color: var(--color-gray-900);
}
.bxsearch-alt-icon3 {
  position: absolute;
  top: 20px;
  left: 1274px;
  width: 20px;
  height: 20px;
  overflow: hidden;
}
.home-reports,
.reports-div7 {
  position: absolute;
  top: 13px;
  left: 339px;
  font-weight: 600;
  color: var(--color-black);
  display: inline-block;
}
.home-reports {
  top: 78px;
  font-size: var(--font-size-2xs);
}
.line-div3 {
  position: absolute;
  top: 57.5px;
  left: 295.5px;
  border-top: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 1121px;
  height: 1px;
}
.rectangle-div25 {
  position: absolute;
  top: 17px;
  left: 1388px;
  background-color: var(--color-green-300);
  width: 24px;
  height: 25px;
}
.k-div4 {
  position: absolute;
  top: 20px;
  left: 1394px;
  font-size: var(--font-size-2xs);
  font-weight: 600;
  color: var(--color-green-100);
  display: inline-block;
}
.akar-iconsarrow-down12,
.iconoirfavourite-book3 {
  position: absolute;
  top: 264px;
  left: 649px;
  width: 24px;
  height: 24px;
  overflow: hidden;
}
.akar-iconsarrow-down12 {
  top: 289px;
  left: 517px;
  width: 20px;
  height: 20px;
}
.akar-iconsarrow-down13,
.akar-iconsarrow-down14,
.akar-iconsarrow-down15 {
  position: absolute;
  top: 289px;
  left: 779px;
  width: 20px;
  height: 20px;
  overflow: hidden;
}
.akar-iconsarrow-down14,
.akar-iconsarrow-down15 {
  left: 1041px;
}
.akar-iconsarrow-down15 {
  left: 1303px;
}
.total-users-div3 {
  position: absolute;
  left: 353px;
  font-weight: 600;
  display: inline-block;
}
.active-users-div3,
.reports-div8,
.total-users-div3 {
  top: 220px;
  font-size: var(--font-size-3xs);
}
.active-users-div3 {
  position: absolute;
  left: 615px;
  font-weight: 600;
  display: inline-block;
}
.reports-div8 {
  left: 1148px;
}
.div16,
.div17,
.div18,
.new-users-div3,
.reports-div8 {
  position: absolute;
  font-weight: 600;
  display: inline-block;
}
.new-users-div3 {
  top: 220px;
  left: 882px;
  font-size: var(--font-size-3xs);
}
.div16,
.div17,
.div18 {
  top: 245px;
  left: 750px;
}
.div17,
.div18 {
  left: 1028px;
}
.div18 {
  left: 1274px;
}
.ellipse-icon11,
.ellipse-icon12,
.ellipse-icon13 {
  position: absolute;
  top: 251px;
  left: 373px;
  width: 53px;
  height: 51px;
}
.ellipse-icon12,
.ellipse-icon13 {
  left: 635px;
}
.ellipse-icon13 {
  top: 248px;
  left: 1154px;
}
.bxsuser-icon15,
.dashiconsarrow-down-alt2-div3 {
  position: absolute;
  top: 264px;
  left: 387px;
  width: 24px;
  height: 24px;
  overflow: hidden;
}
.dashiconsarrow-down-alt2-div3 {
  top: 390px;
  left: 817px;
  width: 20px;
  height: 20px;
}
.div19,
.div20 {
  position: absolute;
  top: 502px;
  left: 1190px;
  font-weight: 600;
  text-align: center;
  display: inline-block;
}
.div20 {
  top: 589px;
  left: 1023px;
}
.frame-div {
  position: absolute;
  top: 135px;
  left: 627px;
  width: 100px;
  height: 100px;
  overflow: hidden;
}
.group-div11 {
  position: absolute;
  top: 369px;
  left: 14px;
  width: 208px;
  height: 32px;
  font-size: var(--font-size-xs);
  color: var(--color-gray-1000);
}
.ellipse-icon14 {
  position: absolute;
  top: 249px;
  left: 898px;
  width: 53px;
  height: 51px;
}
.bxsuser-icon17,
.iconoirreports6,
.view-div {
  position: absolute;
  top: 260px;
  left: 1166px;
  width: 24px;
  height: 24px;
  overflow: hidden;
}
.bxsuser-icon17,
.view-div {
  top: 263px;
  left: 913px;
}
.view-div {
  top: 221.06px;
  left: 2.5px;
  background-color: var(--color-gray-800);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 1116px;
  height: 785.44px;
}
.blank-line-p {
  margin: 0;
}
.no-div,
.text-div {
  position: absolute;
  top: 0;
  left: 91.55px;
  letter-spacing: 0.05em;
  color: var(--color-white);
  display: inline-block;
  height: 41.21px;
}
.no-div {
  top: 185.24px;
  left: 13.47px;
  width: 52.35px;
  height: 40.95px;
}
.line-div4,
.line-icon,
.line-icon1 {
  position: absolute;
  top: 522px;
  left: 3px;
  width: 1115px;
  height: 5.17px;
}
.line-div4,
.line-icon1 {
  top: 585.85px;
  height: 5.15px;
}
.line-div4 {
  top: 641.76px;
  left: 2.5px;
  border-top: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 1116px;
  height: 1px;
}
.line-icon2,
.line-icon3,
.line-icon4,
.line-icon5 {
  position: absolute;
  top: 699.52px;
  left: 3px;
  width: 1115px;
  height: 1.48px;
}
.line-icon3,
.line-icon4,
.line-icon5 {
  top: 760.62px;
  height: 1.38px;
}
.line-icon4,
.line-icon5 {
  top: 823px;
  height: 1.86px;
}
.line-icon5 {
  top: 464px;
  width: 1117px;
  height: 1.36px;
}
.line-icon6,
.line-icon7,
.line-icon8 {
  position: absolute;
  top: 401px;
  left: 3px;
  width: 1115px;
  height: 2.55px;
}
.line-icon7,
.line-icon8 {
  top: 343.03px;
  width: 1117px;
  height: 5.1px;
}
.line-icon8 {
  top: 281.99px;
  height: 2.2px;
}
.line-div5,
.line-div6 {
  position: absolute;
  box-sizing: border-box;
}
.line-div5 {
  top: 221.88px;
  left: 2.5px;
  border-top: 1px solid var(--color-black);
  width: 1109px;
  height: 1px;
}
.line-div6 {
  top: 147.5px;
  left: 65.5px;
  border-right: 1px solid var(--color-black);
  width: 1px;
  height: 859px;
}
.line-icon10,
.line-icon11,
.line-icon9 {
  position: absolute;
  top: 221.56px;
  left: 669px;
  width: 5px;
  height: 784.45px;
}
.line-icon10,
.line-icon11 {
  top: 222px;
  left: 891.5px;
  height: 784.01px;
}
.line-icon11 {
  left: 266px;
  width: 2.03px;
  height: 784px;
}
.div21,
.div22,
.div23,
.div24,
.div25,
.div26,
.div27,
.div28,
.div29,
.div30,
.div31 {
  position: absolute;
  top: 248.66px;
  left: 28.41px;
  letter-spacing: 0.05em;
  color: var(--color-gray-200);
  display: inline-block;
  width: 9.24px;
  height: 20.6px;
}
.div22,
.div23,
.div24,
.div25,
.div26,
.div27,
.div28,
.div29,
.div30,
.div31 {
  top: 306.21px;
  width: 11.55px;
}
.div23,
.div24,
.div25,
.div26,
.div27,
.div28,
.div29,
.div30,
.div31 {
  top: 370.87px;
  width: 12.32px;
}
.div24,
.div25,
.div26,
.div27,
.div28,
.div29,
.div30,
.div31 {
  top: 434.81px;
  left: 27.64px;
}
.div25,
.div26,
.div27,
.div28,
.div29,
.div30,
.div31 {
  top: 487.38px;
  left: 28.41px;
  width: 11.55px;
}
.div26,
.div27,
.div28,
.div29,
.div30,
.div31 {
  top: 555.59px;
}
.div27,
.div28,
.div29,
.div30,
.div31 {
  top: 604.61px;
  left: 29.18px;
  width: 10.78px;
}
.div28,
.div29,
.div30,
.div31 {
  top: 664.29px;
  left: 27.64px;
  width: 11.55px;
}
.div29,
.div30,
.div31 {
  top: 723.26px;
  left: 29.18px;
}
.div30,
.div31 {
  top: 782.88px;
  left: 15.37px;
  width: 38.08px;
  height: 40.95px;
}
.div31 {
  top: 842.35px;
  left: 19.18px;
  width: 27.6px;
  height: 41.92px;
}
.line-icon12,
.line-icon13 {
  position: absolute;
  top: 883px;
  left: 7px;
  width: 1111px;
  height: 1.24px;
}
.line-icon13 {
  top: 940px;
  left: 6.99px;
  width: 1111.01px;
  height: 7.12px;
}
.div32 {
  top: 901.21px;
  left: 19px;
  color: var(--color-gray-200);
  width: 27px;
  height: 28.94px;
}
.balance-topup-div,
.div32,
.div33,
.div34,
.div35,
.div36,
.div37 {
  position: absolute;
  letter-spacing: 0.05em;
  display: inline-block;
}
.div33 {
  top: 962.09px;
  left: 19px;
  color: var(--color-gray-200);
  width: 28px;
  height: 28.94px;
}
.balance-topup-div,
.div34,
.div35,
.div36,
.div37 {
  top: 243px;
  left: 104px;
  font-weight: 500;
}
.balance-topup-div,
.div35,
.div36,
.div37 {
  left: 367px;
}
.div35,
.div36,
.div37 {
  top: 245px;
  left: 710px;
}
.div36,
.div37 {
  top: 239px;
  left: 943px;
}
.div37 {
  top: 306px;
  left: 103px;
  width: 101.85px;
  height: 42.01px;
}
.div38,
.div39,
.div40,
.div41,
.div42,
.div43,
.div44,
.div45,
.div46,
.div47,
.div48 {
  position: absolute;
  top: 365px;
  left: 101px;
  letter-spacing: 0.05em;
  font-weight: 500;
  display: inline-block;
}
.div39,
.div40,
.div41,
.div42,
.div43,
.div44,
.div45,
.div46,
.div47,
.div48 {
  top: 426px;
  left: 102px;
}
.div40,
.div41,
.div42,
.div43,
.div44,
.div45,
.div46,
.div47,
.div48 {
  top: 487px;
}
.div41,
.div42,
.div43,
.div44,
.div45,
.div46,
.div47,
.div48 {
  top: 547px;
  left: 104px;
}
.div42,
.div43,
.div44,
.div45,
.div46,
.div47,
.div48 {
  top: 605px;
}
.div43,
.div44,
.div45,
.div46,
.div47,
.div48 {
  top: 662px;
  left: 103px;
}
.div44,
.div45,
.div46,
.div47,
.div48 {
  top: 723px;
  left: 104px;
}
.div45,
.div46,
.div47,
.div48 {
  top: 783px;
}
.div46,
.div47,
.div48 {
  top: 846px;
}
.div47,
.div48 {
  top: 905px;
}
.div48 {
  top: 963px;
}
.div49,
.div50,
.div51,
.div52,
.div53,
.div54,
.div55,
.div56,
.div57,
.div58,
.div59,
.div60 {
  position: absolute;
  top: 303px;
  left: 711px;
  letter-spacing: 0.05em;
  font-weight: 500;
  display: inline-block;
}
.div50,
.div51,
.div52,
.div53,
.div54,
.div55,
.div56,
.div57,
.div58,
.div59,
.div60 {
  top: 362px;
}
.div51,
.div52,
.div53,
.div54,
.div55,
.div56,
.div57,
.div58,
.div59,
.div60 {
  top: 425px;
}
.div52,
.div53,
.div54,
.div55,
.div56,
.div57,
.div58,
.div59,
.div60 {
  top: 481px;
}
.div53,
.div54,
.div55,
.div56,
.div57,
.div58,
.div59,
.div60 {
  top: 547px;
}
.div54,
.div55,
.div56,
.div57,
.div58,
.div59,
.div60 {
  top: 605px;
}
.div55,
.div56,
.div57,
.div58,
.div59,
.div60 {
  top: 664px;
}
.div56,
.div57,
.div58,
.div59,
.div60 {
  top: 721px;
}
.div57,
.div58,
.div59,
.div60 {
  top: 780px;
}
.div58,
.div59,
.div60 {
  top: 842px;
}
.div59,
.div60 {
  top: 901px;
}
.div60 {
  top: 962px;
}
.rectangle-div26 {
  position: absolute;
  top: 148px;
  left: 0;
  background-color: var(--color-gray-200);
  width: 1120px;
  height: 75px;
}
.date-b,
.description-b,
.no-div1,
.user-b {
  position: absolute;
  top: 173px;
  left: 16px;
  letter-spacing: 0.05em;
  color: var(--color-white);
  display: inline-block;
}
.date-b,
.description-b,
.user-b {
  top: 171px;
  left: 128px;
}
.date-b,
.description-b {
  left: 379px;
}
.date-b {
  left: 738px;
}
.balance-topup-div1,
.debit-afford-supermarket-div,
.debit-new-cafeteria,
.div61,
.div62 {
  position: absolute;
  top: 298px;
  left: 296px;
  letter-spacing: 0.05em;
  font-weight: 500;
  display: inline-block;
}
.balance-topup-div1,
.debit-new-cafeteria,
.div61,
.div62 {
  top: 300px;
  left: 943px;
}
.balance-topup-div1,
.debit-new-cafeteria,
.div62 {
  top: 363px;
  left: 367px;
}
.debit-new-cafeteria,
.div62 {
  top: 362px;
  left: 943px;
}
.debit-new-cafeteria {
  top: 424px;
  left: 331px;
}
.balance-topup-div2,
.balance-topup-div3,
.debit-old-cafe,
.div63,
.div64,
.div65 {
  position: absolute;
  top: 421px;
  left: 939px;
  letter-spacing: 0.05em;
  font-weight: 500;
  display: inline-block;
}
.balance-topup-div2,
.balance-topup-div3,
.debit-old-cafe,
.div64,
.div65 {
  top: 487px;
  left: 363px;
}
.balance-topup-div3,
.debit-old-cafe,
.div64,
.div65 {
  top: 547px;
  left: 367px;
}
.debit-old-cafe,
.div64,
.div65 {
  top: 484px;
  left: 939px;
}
.debit-old-cafe,
.div65 {
  top: 551px;
}
.debit-old-cafe {
  top: 601px;
  left: 359px;
}
.balance-topup-div4,
.balance-topup-div5,
.balance-topup-div6,
.debit-afford-supermarket-div1,
.div66,
.div67 {
  position: absolute;
  top: 660px;
  left: 296px;
  letter-spacing: 0.05em;
  font-weight: 500;
  display: inline-block;
}
.balance-topup-div4,
.balance-topup-div5,
.balance-topup-div6,
.div66,
.div67 {
  left: 943px;
}
.balance-topup-div4,
.balance-topup-div5,
.balance-topup-div6,
.div67 {
  top: 605px;
}
.balance-topup-div4,
.balance-topup-div5,
.balance-topup-div6 {
  top: 721px;
  left: 363px;
}
.balance-topup-div5,
.balance-topup-div6 {
  top: 785px;
  left: 367px;
}
.balance-topup-div6 {
  top: 846px;
  left: 371px;
}
.debit-afford-supermarket-div2,
.debit-old-cafe1,
.div68,
.div69,
.div70,
.div71,
.div72 {
  position: absolute;
  top: 718px;
  left: 943px;
  letter-spacing: 0.05em;
  font-weight: 500;
  display: inline-block;
}
.debit-afford-supermarket-div2,
.debit-old-cafe1,
.div69,
.div70,
.div71,
.div72 {
  top: 780px;
}
.debit-afford-supermarket-div2,
.debit-old-cafe1,
.div70,
.div71,
.div72 {
  top: 842px;
}
.debit-afford-supermarket-div2,
.debit-old-cafe1,
.div71,
.div72 {
  top: 905px;
  left: 296px;
}
.debit-old-cafe1,
.div71,
.div72 {
  top: 902px;
  left: 943px;
}
.debit-old-cafe1,
.div72 {
  top: 963px;
  left: 363px;
}
.div72 {
  top: 962px;
  left: 943px;
}
.report-page-div {
  position: absolute;
  top: 0;
  left: 0;
  width: 1120px;
  height: 1006px;
}
.amount-b {
  position: absolute;
  top: 171px;
  left: 939px;
  letter-spacing: 0.05em;
  display: inline-block;
  color: var(--color-white);
}
.group-div12 {
  position: absolute;
  top: -2px;
  left: 298px;
  width: 1120px;
  height: 1006px;
  font-size: var(--font-size-base);
  color: var(--color-black);
}
.desktop-13 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-white);
  width: 1440px;
  height: 1024px;
  overflow: hidden;
}
.admin-page-div2 {
  position: relative;
  width: 100%;
  height: 1024px;
  text-align: left;
  font-size: var(--font-size-lg);
  color: var(--color-white);
  font-family: var(--font-inter);
}
