body {
  line-height: normal;
}
.view-div2 {
  position: absolute;
  top: 149px;
  left: 0;
  background-color: var(--color-gray-200);
  width: 1115px;
  height: 859px;
  overflow: hidden;
}
.blank-line-p2,
body {
  margin: 0;
}
.no-div3,
.text-div2 {
  position: absolute;
  top: 0;
  left: 88.55px;
  letter-spacing: 0.05em;
  display: inline-block;
  height: 41.29px;
}
.no-div3 {
  top: 185.61px;
  left: 10.47px;
  width: 52.35px;
  height: 41.03px;
}
.line-div22 {
  position: absolute;
  top: 527.72px;
  left: -0.5px;
  border-top: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 1109px;
  height: 1px;
}
.line-div23,
.line-div24,
.line-div25,
.line-div26,
.line-div27,
.line-div28,
.line-div29,
.line-div30,
.line-div31,
.line-div32 {
  position: absolute;
  top: 587.51px;
  left: -0.5px;
  border-top: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 1109px;
  height: 1px;
}
.line-div24,
.line-div25,
.line-div26,
.line-div27,
.line-div28,
.line-div29,
.line-div30,
.line-div31,
.line-div32 {
  top: 643.04px;
}
.line-div25,
.line-div26,
.line-div27,
.line-div28,
.line-div29,
.line-div30,
.line-div31,
.line-div32 {
  top: 701.42px;
}
.line-div26,
.line-div27,
.line-div28,
.line-div29,
.line-div30,
.line-div31,
.line-div32 {
  top: 762.64px;
}
.line-div27,
.line-div28,
.line-div29,
.line-div30,
.line-div31,
.line-div32 {
  top: 826px;
}
.line-div28,
.line-div29,
.line-div30,
.line-div31,
.line-div32 {
  top: 465.78px;
}
.line-div29,
.line-div30,
.line-div31,
.line-div32 {
  top: 403.85px;
}
.line-div30,
.line-div31,
.line-div32 {
  top: 348.32px;
}
.line-div31,
.line-div32 {
  top: 284.25px;
}
.line-div32 {
  top: 222.32px;
}
.sessions-div1,
.signals-div1,
.user-id-div2,
.user-name-div1 {
  position: absolute;
  top: 175.84px;
  left: 157.06px;
  letter-spacing: 0.05em;
  display: inline-block;
  width: 161.82px;
  height: 42.01px;
}
.sessions-div1,
.signals-div1,
.user-id-div2 {
  top: 181.7px;
  left: 534.96px;
  width: 110.42px;
}
.sessions-div1,
.signals-div1 {
  top: 182px;
  left: 692px;
  width: 129px;
  height: 62px;
}
.sessions-div1 {
  top: 182.68px;
  left: 868.12px;
  width: 156.11px;
  height: 42.01px;
}
.line-icon18,
.line-icon19 {
  position: absolute;
  top: 155.18px;
  left: 60.24px;
  width: 3.83px;
  height: 852.82px;
}
.line-icon19 {
  top: 146.53px;
  left: 648px;
  width: 6.96px;
  height: 861.48px;
}
.line-icon20,
.line-icon21 {
  position: absolute;
  top: 155.32px;
  left: 836.5px;
  width: 4.99px;
  height: 852.68px;
}
.line-icon21 {
  top: 158.25px;
  left: 522.03px;
  width: 2.81px;
  height: 849.75px;
}
.div109,
.div110,
.div111,
.div112,
.div113,
.div114,
.div115,
.div116,
.div117,
.div118,
.div119 {
  position: absolute;
  top: 249.16px;
  left: 25.41px;
  letter-spacing: 0.05em;
  display: inline-block;
  width: 9.24px;
  height: 20.64px;
}
.div110,
.div111,
.div112,
.div113,
.div114,
.div115,
.div116,
.div117,
.div118,
.div119 {
  top: 306.82px;
  width: 11.55px;
}
.div111,
.div112,
.div113,
.div114,
.div115,
.div116,
.div117,
.div118,
.div119 {
  top: 371.6px;
  width: 12.32px;
}
.div112,
.div113,
.div114,
.div115,
.div116,
.div117,
.div118,
.div119 {
  top: 435.67px;
  left: 24.64px;
}
.div113,
.div114,
.div115,
.div116,
.div117,
.div118,
.div119 {
  top: 488.35px;
  left: 25.41px;
  width: 11.55px;
}
.div114,
.div115,
.div116,
.div117,
.div118,
.div119 {
  top: 556.69px;
}
.div115,
.div116,
.div117,
.div118,
.div119 {
  top: 605.81px;
  left: 26.18px;
  width: 10.78px;
}
.div116,
.div117,
.div118,
.div119 {
  top: 665.61px;
  left: 24.64px;
  width: 11.55px;
}
.div117,
.div118,
.div119 {
  top: 724.7px;
  left: 26.18px;
}
.div118,
.div119 {
  top: 784.43px;
  left: 12.37px;
  width: 38.08px;
  height: 41.03px;
}
.div119 {
  top: 844.02px;
  left: 16.18px;
  width: 27.6px;
  height: 42.01px;
}
.eziemefe-paul-eseoghene1,
.omooba-ademola-div1,
.salami-kehinde-temidayo1,
.somade-daniel-oluwasefunmi1 {
  position: absolute;
  top: 245.2px;
  left: 71.39px;
  letter-spacing: 0.05em;
  display: inline-block;
  width: 451.2px;
  height: 42.01px;
}
.eziemefe-paul-eseoghene1,
.omooba-ademola-div1,
.salami-kehinde-temidayo1 {
  top: 306.74px;
  width: 377.9px;
}
.eziemefe-paul-eseoghene1,
.omooba-ademola-div1 {
  top: 365.35px;
  width: 268.43px;
  height: 41.03px;
}
.eziemefe-paul-eseoghene1 {
  top: 428.85px;
  width: 423.59px;
}
.adesotu-nancy-div1,
.george-sophie-div1,
.oguafor-michael-ifeanyi1,
.ogunlusi-oluwasegun-samuel1 {
  position: absolute;
  top: 486.49px;
  left: 71.39px;
  letter-spacing: 0.05em;
  display: inline-block;
  width: 219.89px;
  height: 41.03px;
}
.adesotu-nancy-div1,
.oguafor-michael-ifeanyi1,
.ogunlusi-oluwasegun-samuel1 {
  top: 547.05px;
  width: 240.83px;
}
.oguafor-michael-ifeanyi1,
.ogunlusi-oluwasegun-samuel1 {
  top: 606.64px;
  width: 365.53px;
  height: 42.01px;
}
.ogunlusi-oluwasegun-samuel1 {
  top: 664px;
  left: 71px;
  width: 452px;
  height: 41px;
}
.ajani-boluwatife-div1,
.attenimibofa-daniella-div1,
.div120,
.ojo-fiyinfoluwa-isaac1 {
  position: absolute;
  top: 721.91px;
  left: 71.39px;
  letter-spacing: 0.05em;
  display: inline-block;
  width: 246.54px;
  height: 41.03px;
}
.attenimibofa-daniella-div1,
.div120,
.ojo-fiyinfoluwa-isaac1 {
  top: 783.46px;
  width: 350.3px;
}
.div120,
.ojo-fiyinfoluwa-isaac1 {
  top: 837.18px;
  width: 344.58px;
}
.div120 {
  top: 245.2px;
  left: 532.11px;
  width: 107.56px;
  height: 42.01px;
}
.div121,
.div122,
.div123,
.div124,
.div125,
.div126,
.div127,
.div128,
.div129,
.div130 {
  position: absolute;
  top: 306.74px;
  left: 533.06px;
  letter-spacing: 0.05em;
  display: inline-block;
  width: 101.85px;
  height: 42.01px;
}
.div122,
.div123,
.div124,
.div125,
.div126,
.div127,
.div128,
.div129,
.div130 {
  top: 364.38px;
  width: 109.47px;
  height: 41.03px;
}
.div123,
.div124,
.div125,
.div126,
.div127,
.div128,
.div129,
.div130 {
  top: 423.96px;
  width: 101.85px;
}
.div124,
.div125,
.div126,
.div127,
.div128,
.div129,
.div130 {
  top: 484.53px;
  width: 98.04px;
}
.div125,
.div126,
.div127,
.div128,
.div129,
.div130 {
  top: 546px;
  left: 532px;
  width: 107px;
  height: 41px;
}
.div126,
.div127,
.div128,
.div129,
.div130 {
  top: 606px;
  left: 533px;
  width: 105.66px;
  height: 41.03px;
}
.div127,
.div128,
.div129,
.div130 {
  top: 659.39px;
  left: 529.25px;
  width: 118.03px;
}
.div128,
.div129,
.div130 {
  top: 717px;
  left: 533px;
  width: 114px;
  height: 41px;
}
.div129,
.div130 {
  top: 782px;
}
.div130 {
  top: 843.05px;
  left: 533.06px;
  width: 109.47px;
  height: 41.03px;
}
.ellipse-icon36,
.rectangle-div48 {
  position: absolute;
  height: 100%;
  top: 0;
  bottom: 0;
}
.rectangle-div48 {
  width: 100%;
  right: 0;
  left: 0;
  border-radius: var(--br-xl);
  background-color: var(--color-green-200);
}
.ellipse-icon36 {
  width: 50.41%;
  right: -0.41%;
  left: 50%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.toogle-div13,
.toogle-div14 {
  position: absolute;
  top: 238.36px;
  left: 696.78px;
  width: 77px;
  height: 35.59px;
}
.toogle-div14 {
  top: 302.83px;
}
.ellipse-icon38,
.rectangle-div50 {
  position: absolute;
  height: 100%;
  top: 0;
  bottom: 0;
}
.rectangle-div50 {
  width: 100%;
  right: 0;
  left: 0;
  border-radius: var(--br-xl);
  background-color: var(--color-gray-700);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25) inset;
  border: 1px solid var(--color-gray-600);
  box-sizing: border-box;
}
.ellipse-icon38 {
  width: 50.41%;
  right: 50%;
  left: -0.41%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.toogle-div15,
.toogle-div16 {
  position: absolute;
  left: 696.78px;
  width: 77px;
  height: 35.59px;
}
.toogle-div15 {
  top: 359.49px;
  box-shadow: 1px 4px 4px rgba(0, 0, 0, 0.25) inset;
}
.toogle-div16 {
  top: 416.15px;
}
.toogle-div17 {
  top: 480.62px;
  box-shadow: 1px 4px 4px rgba(0, 0, 0, 0.25) inset;
}
.toogle-div17,
.toogle-div18,
.toogle-div19,
.toogle-div20 {
  position: absolute;
  left: 696.78px;
  width: 77px;
  height: 35.59px;
}
.toogle-div18 {
  top: 543.14px;
  box-shadow: 1px 4px 4px rgba(0, 0, 0, 0.25) inset;
}
.toogle-div19,
.toogle-div20 {
  top: 596.87px;
}
.toogle-div20 {
  top: 654.51px;
  box-shadow: 1px 4px 4px rgba(0, 0, 0, 0.25) inset;
}
.toogle-div21 {
  top: 717.03px;
}
.rimenu-3-fill-icon1,
.toogle-div21,
.toogle-div22,
.toogle-div23 {
  position: absolute;
  left: 696.78px;
  width: 77px;
  height: 35.59px;
}
.toogle-div22 {
  top: 771.73px;
  box-shadow: 1px 4px 4px rgba(0, 0, 0, 0.25) inset;
}
.rimenu-3-fill-icon1,
.toogle-div23 {
  top: 836.21px;
}
.rimenu-3-fill-icon1 {
  top: 163.73px;
  left: 1061.8px;
  width: 38.5px;
  mix-blend-mode: darken;
}
.line-div33,
.line-div34 {
  position: absolute;
  top: 885.5px;
  left: 3.5px;
  border-top: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 1109px;
  height: 1px;
}
.line-div34 {
  top: 948.5px;
}
.toogle-div24,
.toogle-div25 {
  position: absolute;
  top: 899px;
  left: 697px;
  width: 77px;
  height: 35.59px;
}
.toogle-div25 {
  top: 958px;
}
.div131,
.div132 {
  position: absolute;
  top: 903px;
  left: 16px;
  letter-spacing: 0.05em;
  display: inline-block;
}
.div132 {
  top: 964px;
}
.amaeshi-osinachi-nancy1,
.div133,
.div134,
.julius-david-fikayomi1 {
  position: absolute;
  top: 901px;
  left: 71px;
  letter-spacing: 0.05em;
  display: inline-block;
}
.div133,
.div134,
.julius-david-fikayomi1 {
  left: 533px;
}
.div134,
.julius-david-fikayomi1 {
  top: 962px;
  left: 79px;
}
.div134 {
  top: 964px;
  left: 533px;
}
.welcome-page-div1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1115px;
  height: 1008px;
}
.group-div20 {
  position: relative;
  width: 100%;
  height: 1008px;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-white);
  font-family: var(--font-inter);
}
